body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#leftdiv {
    height: 100vh;
    width: 40vw;
    display: flex;
}

#background {
    object-fit: cover;
    height: 100%;
}

#rightdiv {
    background-color: black;
    height: 100vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formdiv {
    color: rgb(200, 200, 200);
    background-color: rgba(20, 20, 20, 0.54);
    padding: 32px;
    border-radius: 10px;
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#text {
    font-size: 1.5rem;
}

#bottomtext {
    font-size: 1.2rem;
    margin-right: auto;
}

.emspan, a {
    color: rgb(235, 101, 39);
}

a {
    text-decoration: underline;
    text-decoration-color: rgb(235, 101, 39);
    text-decoration-thickness: 2px;
    font-weight: bold;
}

.emspan:hover, a:hover {
    color: white;
    cursor: pointer;
    text-decoration-color: white;
}

#logodiv {
    position: absolute;
    top: 20vh;
    color: white;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 3rem;
    padding: 24px 0;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    letter-spacing: 0.75rem;
    overflow: scroll;
}

#logodiv:hover {
    color: rgb(235, 101, 39);
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form > * {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    row-gap: 8px;
}

#buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 40%;
    margin: 32px;
    padding: 16px 48px;
    font-family: inherit;
    color: rgb(235, 101, 39);
    background-color: inherit;
    border: 3px solid rgb(235, 101, 39);
    border-radius: 10px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: rgb(235, 101, 39);
    color: white;
}

form div input {
    background-color: black;
    padding: 8px;
    color: white;
    font-size: 1rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

form div input:focus {
    background-color: rgba(235, 101, 39, 0.2);
    outline: none !important;
    border-color: rgb(235, 101, 39);
    box-shadow: 0 0 5px rgb(235, 101, 39);
}

form div input:invalid:focus {
    background-color: rgba(235, 101, 39, 0.2);
    outline: none !important;
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 5px rgb(255, 0, 0);
}

form div input:valid {
    background-color: rgba(235, 101, 39, 0.2);
    outline: none !important;
    border-color: rgb(0, 255, 0);
    box-shadow: 0 0 5px rgb(0, 255, 0);
}